doctype html
html 
  head
    title Learn to code HTML, CSS and JavaScript
    meta(name="description", content="This is a HTML clone of w3schools.com")
    link(rel="stylesheet", href="style.css")
  body
    header
      a.current(h ref="/") Home
      a(h ref="/html") HTML
      a(h ref="/css") CSS
      a(h ref="/javascript") JavaScript 

    article
      h1 This is a clone of w3school.com
      p I'll go through all possible HTML elements as well as CSS to gain knowledge quicker and get used to writting and producing styled and HTML pages. 
      h2 HTML
      p The language for building web pages. #[a(href="/html") Check it out!]
      h2 CSS
      p The language for styling web pages. #[a(href="/css") See awesomeness happening!]
      h2 JavaScript
      p The language for programming web pages. #[a(href="/javascript") Discover the way up!]
  
    nav
      h3 HTML and CSS
      a(h ref="/html") Learn HTML
      a(h ref="/css") Learn CSS
      a(h ref="/javascript") Learn Javascript
  
    footer &copy; 2018 My name is awesome! 

